@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Share+Tech&display=swap");

body,
html {
  overflow: hidden;
}
body {
  font-family: "Share Tech", sans-serif;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  top: 0;
  min-width: 100dvw;
  min-height: 100dvh;
  position: absolute;
  background: url(https://images.pexels.com/photos/12342219/pexels-photo-12342219.jpeg);
  background-size: cover;
  z-index: -1;
}

body::after {
  content: "";
  top: 0;
  min-width: 100dvw;
  min-height: 100dvh;
  position: absolute;
  filter:blur(5px);
  background: #110a0ae2;
  z-index: -1;
}



input {
  text-align: center;
}

label {
  font-weight: 800 !important;
}

.logoarea {
  font-family: "Oleo Script", system-ui;
}

.logoarea p {
  font-family: "Share Tech", sans-serif;
}
.logoarea .left {
  width: 60px;
  height: 60px;
  background-image: url(https://www.svgrepo.com/show/417539/oreo-biscuit.svg);
  background-size: contain;
  animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Iconify Icons CSS */

.ic-table {
  display: inline-block;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M8.257 44.461c-2.555-.208-4.51-2.163-4.718-4.718C3.277 36.515 3 31.364 3 24s.277-12.515.539-15.743c.208-2.555 2.163-4.51 4.718-4.718C11.485 3.277 16.636 3 24 3s12.515.277 15.743.539c2.555.208 4.51 2.163 4.718 4.718C44.723 11.485 45 16.636 45 24s-.277 12.515-.539 15.743c-.208 2.555-2.163 4.51-4.718 4.718C36.515 44.723 31.364 45 24 45s-12.515-.277-15.743-.539m6.743.383V3.154M3.25 17h41.5M3.25 31h41.5'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}